In [1]:
import numpy as np

list1 = [1,2,3,4]

arry1 = np.array(list1)
print(type(arry1))

arry2 = arry1 + 2

list2 = list1
list2 = list1 + '2'
list2 = list1 + [2]

list2 = [[0,1,2], [3,4,5],[6,7,8]]
arr2d = np.array(list2)
arr2d

arr2d_f = np.array(list2, dtype = 'float')
arr2d 

arr2d_f.astype('int')

arr2d_f.astype('int').astype('str')

<class 'numpy.ndarray'>

TypeError: can only concatenate list (not "str") to list

In [2]:
list2 = [[0,1,2], [3,4,5], [6,7,8]]

In [3]:
arr2d = np.array(list2)

In [4]:
arr2d

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [5]:
arr2d_f = np.array(list2, dtype = 'float')

In [6]:
arr2d

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [7]:
arr2d_f.astype('int')

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [8]:
arr2d_f.astype('int').astype('str')

array([['0', '1', '2'],
       ['3', '4', '5'],
       ['6', '7', '8']], dtype='<U21')

In [9]:
list3 = ['green', 1,2,3]

In [10]:
arr1d_object = np.array(list3)

In [11]:
arry2d.size()

NameError: name 'arry2d' is not defined

In [12]:
arr2d

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [13]:
arr2d.size

9